{% extends 'home.html' %}
{% block title %}添加请求头部{% endblock %}
{% block content %}
            <div class="panel-body" >
                <form action="{{ url_for('request_headers_blueprint.request_headers_add') }}"  method="post" enctype="multipart/form-data" class="form-horizontal">
                    {{ macro.form_group(lable_name="name",blank_name="请求头部名称") }}
                    {{ macro.form_group_textarea(lable_name="value",blank_name="请求头部的值") }}
                    {{ macro.form_group(lable_name="description",blank_name="请求头部备注") }}
                    {{ macro.submit() }}
                </form>
            </div>
{% endblock %}