{% extends 'home.html' %}
{% block title %}修改请求头部{% endblock %}
{% block content %}
            <div class="panel-body" >
                <form  action="{{ url_for('request_headers_blueprint.request_headers_update',id=item.id) }}" id="request_headers_update_form" data-toggle="validator" method="post" enctype="multipart/form-data" class="form-horizontal">
                    {{ macro.form_group(lable_name="name",blank_name="请求头部名称",value=item.name) }}
                    {{ macro.form_group_textarea(lable_name="value",blank_name="请求头部的值",value=item.value) }}
                    {{ macro.form_group(lable_name="description",blank_name="请求头部备注",value=item.description) }}
                    {{ macro.submit(submit_id="request_headers_update") }}
                </form>
            </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            var validate = function () {
                 request_headers_id = {{ item.id }}
                    $('#request_headers_update_form').validate({
                        rules: {
                            name: {
                                required: true, minlength: 2, maxlength: 20, remote: {
                                url:'/requestheadersupdatevalidate/',
                                data:{"request_headers_id":request_headers_id}
                                }
                                },
                            value:{required: true},
                            description: {maxlength: 50},
                        },
                        messages: {
                            name: {required: '不可为空', minlength: '长度最少2位', maxlength: '不可超过20位', remote: '已存在名称'},
                            value: {required: '不可为空'},
                            description: {maxlength: '不可超过50位'},
                        }
                    })
                };
            $('input').bind('input propertychange', function() {
                validate()
                });
            $('#request_headers_update').click(function () {
                $('#request_headers_update_form').validate({
                        rules: {
                           name: {
                                required: true, minlength: 2, maxlength: 20, remote: {
                                url:'/requestheadersupdatevalidate/',
                                data:{"request_headers_id":request_headers_id}
                                }
                                },
                            value:{required: true},
                            description: {maxlength: 50},
                        },
                        messages: {
                            name: {required: '不可为空', minlength: '长度最少2位', maxlength: '不可超过20位', remote: '已存在名称'},
                            value: {required: '不可为空'},
                            description: {maxlength: '不可超过50位'},
                        },
                    submitHandler: function (form) {
                        form.submit()
                    }
                    })
            })
});

    </script>
{% endblock %}