{% extends 'home.html' %}
{% block title %}测试用例执行{% endblock %}
{% block content %}
    <div class="panel-body " >
        <form action="{{ url_for('test_case_request_blueprint.test_case_request') }}" method="post" enctype="multipart/form-data" class="form-horizontal col-md-12">
        <div style="float: left" class="col-md-12">

            {% for item in items %}
                 <div class="form-group col-md-4">
                 <div>
                      <label for="{{ item.id }}"  class="dots control-label col-md-8" style="max-width: 280px">{{ item.name }}</label>
                 </div>
                      <input  type="checkbox" id="{{ item.id }}" value="{{ item.id }}" name="testcase" style="zoom:1.5;width: 20px" >
                 </div>
            {% endfor %}
        </div>
        <div class="col-md-4 col-md-offset-4" id="nocheck" style="text-align: center"></div>
        {{ macro.submit(submit_value="确认",submit_id="assign",test_type="submit", div_class="control-label col-md-7") }}
        </form>
    </div>
{% endblock %}
{% block js %}
    <script>
    $(document).ready(function () {
        $('#assign').click(function () {
            var checkVal = [];
            $("input[name='testcase']:checkbox").each(function() {
                if ($(this).is(":checked")) {
                    var s= $(this).val();
                    checkVal.push(s);
                }
            });
            if(checkVal.length === 0){
                $('#nocheck').html('请选择测试用例');
                return false
            }
        })
    });
    </script>

{% endblock %}