{% extends 'home.html' %}
{% block title %}测试用例执行{% endblock %}
{% block content %}
    <div class="panel-body no-padding " >
        <form action="{{ url_for('test_case_request_blueprint.test_case_request') }}" method="post" enctype="multipart/form-data" class="form-horizontal col-md-12 no-padding">
            <div style="float: left" class="col-md-12 no-padding"  >
                        {% for case_group in case_groups %}
                            <div class="btn col-md-12 btn-default no-padding"  >
                                <div class="col-md-11" style="float: left" href="#case_group_{{ loop.index }}" data-toggle="collapse">
                                    <div class="col-md-11">
                                        <span style="margin-left: 120px"><b>{{case_group.name | safe }}</b></span>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="badge" style="background-color: rgba(43,129,230,0.74)">{{ case_group.testcases.__len__()+ case_group.testcase_list.__len__() }}</div>
                                    </div>

                                </div>
                                 <div class="col-md-1 has_no_padding" style="float: left">
                                     <div class=" has_no_padding" >
                                         <label style="font-weight: normal" for="case_group_{{ loop.index }}_all" class="col-md-8 has_no_padding">全选分组</label>
                                     </div>
                                     <div class="col-md-4 has_no_padding" >
                                         <input type="checkbox" id="case_group_{{ loop.index }}_all" value="case_group_{{ loop.index }}_all" name="case_group_{{ loop.index }}_all" class="all_checkbox" style="zoom:1.5;width: 20px;margin-top: 1px;">
                                     </div>
                                </div>
                            </div>
                            <div id="case_group_{{ loop.index }}" class="collapse no-padding">
                                {% for testcase in case_group.testcases %}
                                         {% if case_group.name == "<span style='color: blue'>未分组测试场景</span>" %}
                                             <div class="form-group col-md-4">
                                              <div>
                                                  <label for="testcase_scene_{{ testcase.id }}"  class="dots control-label col-md-8" style="max-width: 280px;font-weight: normal;text-align: left"><div class="badge badge-pill badge-primary">【场景】</div>{{ testcase.name }}</label>
                                              </div>
                                              <input  type="checkbox" id="testcase_scene_{{ testcase.id }}" value="{{ testcase.id }}" name="testcase_scene" style="zoom:1.5;width: 20px" >
                                             </div>
                                         {% elif  case_group.name == "<span style='color: blue'>未分组测试用例</span>" %}
                                             <div class="form-group col-md-4">
                                              <div>
                                                  <label for="{{ testcase.id }}"  class="dots control-label col-md-8" style="max-width: 280px;font-weight: normal;text-align: left"><div class="badge badge-pill badge-success">【用例】</div>{{ testcase.name }}</label>
                                              </div>
                                              <input  type="checkbox" id="{{ testcase.id }}" value="{{ testcase.id }}" name="testcase" style="zoom:1.5;width: 20px" >
                                             </div>
                                         {% else %}
                                         {% endif %}

                                 {% endfor %}
                                 {% for testcase in case_group.testcase_list %}
                                         {% if testcase.is_testcase_scene == 0 %}
                                             <div class="form-group col-md-4">
                                              <div>
                                                  <label for="{{ testcase.id }}"  class="dots control-label col-md-8" style="max-width: 280px;font-weight: normal;text-align: left"><div class="badge badge-pill badge-success">【用例】</div>{{ testcase.name }}</label>
                                              </div>
                                              <input  type="checkbox" id="{{ testcase.id }}" value="{{ testcase.id }}" name="testcase" style="zoom:1.5;width: 20px" >
                                             </div>
                                         {% else %}
                                             <div class="form-group col-md-4">
                                             <div>
                                              <label for="testcase_scene{{ testcase.id }}"  class="dots control-label col-md-8" style="max-width: 280px;font-weight: normal;text-align: left"><div class="badge badge-pill badge-primary">【场景】</div>{{ testcase.name }}</label>
                                              </div>
                                              <input  type="checkbox" id="testcase_scene{{ testcase.id }}" value="{{ testcase.id }}" name="testcase_scene" style="zoom:1.5;width: 20px" >
                                             </div>
                                         {% endif %}
                                 {% endfor %}
                            </div>
                        {% endfor %}
            </div>
        <div class="col-md-4 col-md-offset-4" id="nocheck" style="text-align: center;color: red"></div>

        {{ macro.submit(submit_value="确认",submit_id="assign",test_type="button",
        div_class="control-label col-md-7",test_style="",test_value="全选",test_id="all_checkboxes") }}
        <div class="control-label col-md-5">
            <input  type="button" class="btn btn-primary" value="添加为任务" id="job_add">
        </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script>
    isnotCheckboxes=true;
    $(document).ready(function () {
        $('.all_checkbox').click(function () {
            let case_group_checkboxes_value = $(this).val().replace('_all','');
            if ($(this).is(':checked')){
                if ($('#'+case_group_checkboxes_value).hasClass('in collapse')) {
                    $('#'+case_group_checkboxes_value+' input[type="checkbox"]:not(:checked)').each(function () {
                        $(this).attr('checked',true)
                    });
                }else {
                     $('div[href="#' + case_group_checkboxes_value + '"]').click();
                     $('#'+case_group_checkboxes_value+' input[type="checkbox"]:not(:checked)').each(function () {
                        $(this).attr('checked',true)
                });
                }
            }else {
                $('#'+case_group_checkboxes_value+' input[type="checkbox"]:(:checked)').each(function () {
                    $(this).attr('checked',false)
                })
            }
        });
        $('#all_checkboxes').click(function () {
            $('input:checkbox').each(function () {
                $(this).click();
            });
            if (isnotCheckboxes){
                isnotCheckboxes=false;
                $('#all_checkboxes').attr('value','已全选').attr('class','btn btn-success')
            }else {
                $('#all_checkboxes').attr('value','全选').attr('class','btn btn-default');
                isnotCheckboxes=true;
            }

        });
        $('#assign').click(function () {
             let checkVal = [];
            $("input[name*='testcase']:checkbox").each(function() {
                if ($(this).is(":checked")) {
                    let s= $(this).val();
                    checkVal.push(s);
                }
            });
            if(checkVal.length === 0){
                $('#nocheck').html('请选择测试用例');
                return false
            }
        });
        $('#job_add').click(function () {
            let checkVal = [];
            $("input[name*='testcase']:checkbox").each(function() {
                if ($(this).is(":checked")) {
                    let s= $(this).val();
                    checkVal.push(s);
                }
            });
            if(checkVal.length === 0){
                $('#nocheck').html('请选择测试用例');
                return false
            }else {
               let testcase_ids = '';
                $("input[name='testcase']:checkbox").each(function (j) {
                   if(j>=0){
                       if($(this).is(':checked')){
                          testcase_ids += $(this).val() + ','
                       }
                   }

               });
                let testcase_scene_ids = '';
                $("input[name='testcase_scene']:checkbox").each(function (j) {
                   if(j>=0){
                       if($(this).is(':checked')){
                          testcase_scene_ids += $(this).val() + ','
                       }
                   }

               });
                $.ajax({
                url: {{ url_for('job_blueprint.job_add') }},
                type: "POST",
                data: {"testcases": testcase_ids,"testcase_scenes":testcase_scene_ids},
                success: function (response) {
                    let job_id = JSON.parse(response)['job_id'];
                    window.location.href="{{ url_for('job_blueprint.job_update') }}?job_id="+ job_id

                }
            });
            }
        });
    });
    </script>

{% endblock %}
{% block css %}
<style>
    input[type="checkbox"]{
        margin-top: 7px;
    }

    .all_checkbox{
        margin-top: 0;
        padding-bottom: inherit;
    }

</style>
{% endblock %}