{% extends 'home.html' %}
{% block title %}测试场景列表{% endblock %}
{% block content %}
    <div class="panel-body no-padding " >
    <div class="col-md-12" style="margin-top: 7px;float: left">
        <div class="col-md-6">
                <form action="{{ url_for('testcase_scene_blueprint.testcase_scene_testcase_list') }}" role="search" class="navbar-form">
                    <div class="form-group col-md-8" style="margin-left: -30px">
                        <input name="testcase_scene_search" type="text" class="form-control" placeholder="Search" style="width: 249px;height: 34px">
                    </div>
                    <div class="col-md-2" style="margin-left: -38px">
                        <button type="submit" class="btn btn-default" >查询</button>
                    </div>
                </form>
            </div>
            <div class="col-md-5 col-md-offset-1" style="margin-top: 7px">
                <div class="form-group col-md-12"  style="float: right">
                    <div class="float-right">
                        <select  name="testcase_scene_copy" id="testcase_scene_copy" class="btn btn-default" style="width: 120px;height: 34px">
                            {% for model_testcase_scene in model_testcase_scenes %}
                                <option  value="{{ model_testcase_scene.id }}" style="width: 20px">{{ model_testcase_scene.name }}</option>
                            {% endfor %}
                        </select>
                        <a id="testcase_scene_add" class="btn btn-default" title="复制场景 " style="height: 34px"><i class="fa fa-copy" style="zoom:1.7"></i></a>
                        <a  href="{{ url_for('testcase_scene_blueprint.testcase_scene_add') }}?page={{ page }}" title="添加测试场景"><button class="btn btn-default" style="color: black">添加</button></a>
                    </div>
                </div>
            </div>
    </div>


        <div style="float: left" class="col-md-12 no-padding"  >
                {% for testcase_scene in testcase_scenes %}
                    <div class="btn col-md-12 btn-default no-padding"  >
                        <div class="col-md-8" href="#case_group_{{ testcase_scene.id }}" data-toggle="collapse">
                            <div class="col-md-2"><a href="#"><span class="badge" >{{ loop.index }}</span></a></div>
                            <div class="col-md-10" style="float: left">
                                {% if testcase_scene.testcase_scene_case_group %}
                                    <div class="badge-color-black col-md-3" >【{{ testcase_scene.testcase_scene_case_group.name }}】</div>
                                    <div class="col-md-9" >
                                        <span class="badge-color-black" style="text-overflow: ellipsis">
                                            {{testcase_scene.name }}
                                        </span>
                                    </div>
                                {% else %}
                                    <div class="badge-color-black col-md-3" ><span style="color: #337ab7">【未分组的测试场景】</span></div>
                                    <div class="col-md-9"><span class="badge-color-black" >{{testcase_scene.name }}</span></div>

                                {% endif %}
                                </div>
                        </div>
                        <div class="col-md-4 has_no_padding" style="float: left">
                            <div class="badge badge-primary" style="background-color: #337ab7;">{{ testcase_scene.testcases.__len__() }}</div>
                            <a href='{{ url_for("testcase_scene_blueprint.testcase_scene_update")}}?testcase_scene_id={{ testcase_scene.id }}&page={{ page }}' class="btn btn-default btn-xs" title="编辑场景"><i class="fa fa-pencil"></i></a>
                            <a id="testcase_scene_run_{{ testcase_scene.id }}" class="btn btn-default btn-xs" title="执行场景"><i class="fa fa-play"></i></a>
                            <a id="testcase_scene_delete_{{ testcase_scene.id }}" class="btn btn-default btn-xs" title="删除场景"><i class="fa fa-trash"></i></a>
                            {% if testcase_scene.is_model ==0 or testcase_scene.is_model == None %}
                                <a href="{{ url_for('testcase_scene_blueprint.testcase_scene_model',testcase_scene_id=testcase_scene.id) }}?page={{ page }}" class="btn btn-default btn-xs" title="设置为场景模板"><i class="fa fa-file-text-o"></i></a>
                            {% else %}
                                <a href="{{ url_for('testcase_scene_blueprint.testcase_scene_model',testcase_scene_id=testcase_scene.id) }}?page={{ page }}" class="btn btn-default btn-xs" title="取消设置为场景模板"><i class="fa fa-file-text"></i></a>
                            {% endif %}
                            <a href='{{ url_for("testcase_blueprint.add_test_case")}}?testcase_scene_id={{ testcase_scene.id }}&scene_page={{ page }}' class="btn btn-default btn-xs" title="添加场景用例"><i class="fa fa-plus"></i></a>
                            <select name="testcase_list" id="testcase_list_{{ testcase_scene.id }}"  style="width: 110px">
                                {% for model_testcase in model_testcases %}
                                    <option  value="{{ model_testcase.id }}">{{ model_testcase.name }}</option>
                                {% endfor %}
                            </select>
                            <a id="testcase_add_{{ testcase_scene.id }}" class="btn btn-default btn-xs" title="复制测试用例"><i class="fa fa-copy"></i></a>

                        </div>
                    </div>
                    <div id="case_group_{{ testcase_scene.id }}" class="collapse no-padding">
                        {% for testcase in testcase_scene.testcases %}
                            <div class="col-md-12 has_no_padding">
                                <div class="btn btn-default col-md-6 col-md-offset-3" style="margin-bottom: 0">
{#                                    <div class="col-md-2"><a href="#"><span class="badge" style="background-color: #777">{{ loop.index }}</span></a></div>#}
                                    <div class="col-md-8"><span>{{ testcase.name }}</span></div>
                                    <div class="col-md-2 col-md-offset-1 has_no_padding">
                                        <a href="{{ url_for('testcase_blueprint.look_test_case',id=testcase.id) }}" class="btn btn-default btn-xs" title="查询测试用例"><i class="fa fa-search"></i></a>
                                        <a href="{{ url_for('testcase_blueprint.update_test_case',id=testcase.id) }}?testcase_scene_id={{ testcase_scene.id }}&scene_page={{ page }}" class="btn btn-default btn-xs" title="编辑测试用例"><i class="fa fa-pencil"></i></a>
                                        <a href="{{ url_for('testcase_blueprint.delete_test_case',id=testcase.id) }}?testcase_scene_id={{ testcase_scene.id }}&scene_page={{ page }}" class="btn btn-default btn-xs" title="删除测试用例"><i class="fa fa-trash"></i></a>
                                    </div>
                                 </div>
                            </div>

                        {% endfor %}
                    </div>
                {% endfor %}
        </div>
    </div>
    {{ macro.pagination_widget(pagination, 'testcase_scene_blueprint.testcase_scene_testcase_list') }}

{% endblock %}
{% block js %}
    <script>
    $(document).ready(function () {
        $('a[id*="testcase_add"]').click(function () {
            let scene_page = GetQueryString('page');
            let testcase_scene_id = $(this).attr('id').replace('testcase_add_','');
            let testcase_id = $("#testcase_list_"+testcase_scene_id).val();
            $.ajax({
                url:'{{ url_for("testcase_scene_blueprint.testcase_scene_copy")}}?testcase_scene_id='+testcase_scene_id+"&testcase_id="+testcase_id,
                type:'GET',
                success:function () {
                    window.location.href = "{{ url_for('testcase_scene_blueprint.testcase_scene_testcase_list') }}?page=" + scene_page
                }
            })
        });

         /**
          * @return {string}
          */
         function GetQueryString(name)
        {
             let reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
             let r = window.location.search.substr(1).match(reg);//search,查询？后面的参数，并匹配正则
             if(r != null){
                 return  unescape(r[2]);
             }else {
                 return '';
             }
        }

         $('a[id="testcase_scene_add"]').click(function () {
             let scene_page = GetQueryString('page');
             let testcase_scene_id = $('#testcase_scene_copy').val();
             window.location.href = '{{ url_for("testcase_scene_blueprint.testcase_scene_copy_scene")}}?testcase_scene_id='+testcase_scene_id+'&scene_page='+scene_page
        });


        $('a[id*="testcase_scene_delete"]').click(function () {
            let scene_page = GetQueryString('page');
            let testcase_scene_id = $(this).attr('id').replace('testcase_scene_delete_','');
            window.location.href = '{{ url_for("testcase_scene_blueprint.testcase_scene_delete")}}?testcase_scene_id='+testcase_scene_id+'&scene_page='+scene_page

        });

        $('a[id*="testcase_scene_run"]').click(function () {
            let testcase_scene_id = $(this).attr('id').replace('testcase_scene_run_','');
            $.ajax({
                url:'{{ url_for("testcase_scene_blueprint.testcase_scene_run")}}?testcase_scene_id='+testcase_scene_id,
                type:'GET',
                success:function (response) {
                    let results = JSON.parse(response)['testcase_results'];
                    $('#request_body_show').css('overflow','scroll').html(results)
                }
            })
        });
    });
    </script>
{% endblock %}
{% block css %}
<style>

    input[type="checkbox"]{
        margin-top: 7px;
    }
    .no-padding{
        text-align: center;
        padding: 8px;
        margin: 0
    }
    .has_no_padding{
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .dots{
        margin-top: 8px;
        padding-bottom: inherit;
    }


</style>
{% endblock %}