{% extends 'home.html' %}
{% block title %}修改测试用例分组{% endblock %}
{% block content %}
            <div class="panel-body" >
                <form  action="{{ url_for('case_group_blueprint.case_group_update',id=item.id) }}"  method="post" enctype="multipart/form-data" class="form-horizontal">
                    {{ macro.form_group(lable_name="name",blank_name="测试用例分组名称",value=item.name) }}
                    {{ macro.form_group(lable_name="description",blank_name="测试用例分组备注",value=item.description) }}
                    {{ macro.submit() }}
                </form>
            </div>
{% endblock %}