.badge-pill{padding-right:.6em;padding-left:.6em;border-radius:10rem}
.badge-primary{color:#fff;background-color:#007bff}
.badge-primary[href]:focus,
.badge-primary[href]:hover{color:#fff;text-decoration:none;background-color:#0062cc}
.badge-secondary{color:#fff;background-color:#6c757d}
.badge-secondary[href]:focus,
.badge-secondary[href]:hover{color:#fff;text-decoration:none;background-color:#545b62}
.badge-success{
    color:#fff;
    background-color:#28a745}
.badge-success[href]:focus,
.badge-success[href]:hover{color:#fff;text-decoration:none;background-color:#1e7e34}
.badge-info{color:#fff;background-color:#17a2b8}
.badge-info[href]:focus,
.badge-info[href]:hover{color:#fff;text-decoration:none;background-color:#117a8b}
.badge-warning{
    color:#212529;
    background-color:#ffc107}
.badge-warning[href]:focus,
.badge-warning[href]:hover{color:#212529;text-decoration:none;background-color:#d39e00}
.badge-danger{
    color:#fff;
    background-color:#dc3545}
.badge-danger[href]:focus,
.badge-danger[href]:hover{color:#fff;text-decoration:none;background-color:#bd2130}
.badge-light{color:#212529;background-color:#f8f9fa}
.badge-light[href]:focus,
.badge-light[href]:hover{color:#212529;text-decoration:none;background-color:#dae0e5}
.badge-dark{color:#fff;background-color:#343a40}
.badge-dark[href]:focus,
.badge-dark[href]:hover{color:#fff;text-decoration:none;background-color:#1d2124}
.badge-color-black{
    font-weight: 700;
    color: black;
}
.badge-background-black{
     background-color: #0c0c0c
}
.relative-position{
    position: absolute;
    top:50px;
    left: 45px;
    text-align: center;
    vertical-align: middle;
}
.relative-position-big{
    position: absolute;
    top:50px;
    left: 150px;
    text-align: center;
    vertical-align: middle;
}
.form-control{
    font-size: 18px;
}
span,.tpl-left-nav-item .nav-link span, .tpl-left-nav-sub-menu a span,table,.table,a,button{
    font-size: 16px;
}
.up{
    position: relative;
    top:-4px
}
.text-right{
    text-align: right;
}
.btn-left{
    padding-left: 0;
    width:110px
}
.no-padding-left{
    padding-left: 0;
}

.my-btn-back{
    display:inline-block;width:29.2%;background-color: lightsteelblue;margin:0 0 3px 3px
}