{% extends 'home.html' %}
{% block title %}测试用例列表{% endblock %}
{% block content %}
                <div class="panel-body">
                    <table class="table table-hover">
                    <div class="col-md-12">
                        <div class="col-md-6">
                        <form action="{{ url_for('testcase_blueprint.test_case_list') }}" role="search" class="navbar-form">
                            <div class="form-group col-md-6">
                                <input type="text" name="testcase_search" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">查询</button>
                        </form>
                        {{ macro.show_col() }}
                        <a href="{{ url_for('testcase_blueprint.test_case_urls') }}" class="btn btn-default">统计</a>
                    </div>
                        <div class="col-md-offset-8">
                            <div class="form-group col-md-12" style="margin-top: 7px">
                                <div class="float-right">
                                    <select class="btn btn-default" name="testcase_copy" id="testcase_copy" style="width: 120px;height: 34px">
                                        {% for model_testcase in model_testcases %}
                                            <option  value="{{ model_testcase.id }}" style="width: 20px">{{ model_testcase.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <a id="testcase_copy_click" class="btn btn-default btn-xs" title="复制测试用例" style="height: 34px"><i class="fa fa-copy fa-title-size"></i></a>
                                    <a  href="{{ url_for('testcase_blueprint.add_test_case') }}?page={{ page }}" title="添加测试用例"><button class="btn btn-default" style="color: black">添加</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                        <tr>
                            <th>ID</th>
                            <th>测试用例分组名称</th>
                            <th>测试用例名称</th>
                            <th>请求头部</th>
                            <th>请求接口</th>
                            <th>请求报文</th>
                            <th>请求方法</th>
                            <th>注册变量</th>
                            <th>正则匹配</th>
                            <th>预期结果</th>
                            <th style="width:180px">操作</th>
                        </tr>
                        {% for item in items %}
                        <tr  id="look_test_case_{{ item.id }}">
                            <td><a href="#"><span class="badge">{{ loop.index }}</span></a></td> <!--使用循环的数字作为id -->

                            <td>
                                {% for case_group in case_groups %}
                                {% if case_group.id==item.group_id %}
                                {{ case_group.name }}{% endif %}{% endfor %}
                            </td>
                            <td> {{ item.name }}</td>
                            <td>
                            {% for request_header in request_headers %}
                                    {% if request_header.id==item.request_headers_id %}
                                    {{ request_header.name }}{% endif %}{% endfor %}
                            </td>
                            <td>{{ item.url }}</td>
                            <td>{{ item.data }}</td>
                            <td> {{ item.method }}</td>
                            <td>{{ item.regist_variable }}</td>
                            <td>{{ item.regular }}</td>
                            <td>{{ item.hope_result }}</td>
                            <td>
                                <a href="{{ url_for('testcase_blueprint.look_test_case',id=item.id) }}" class="btn btn-default btn-xs" title="查询测试用例"><i class="fa fa-search"></i></a>
                                <button type="button" id="run_test_case_id_{{ item.id }}" class="btn btn-default btn-xs" title="执行测试用例"><i class="fa fa-play"></i></button>
                                <a href="{{ url_for('testcase_blueprint.update_test_case',id=item.id) }}?page={{ page }}" class="btn btn-default btn-xs" title="编辑测试用例"><i class="fa fa-pencil"></i></a>
                                <a href="{{ url_for('testcase_blueprint.delete_test_case',id=item.id) }}?page={{ page }}" class="btn btn-default btn-xs" title="删除测试用例"><i class="fa fa-trash"></i></a>
                                {% if item.is_model ==0 %}
                                    <a href="{{ url_for('testcase_blueprint.test_case_model',id=item.id, page=page) }}" class="btn btn-default btn-xs" title="设置为用例模板"><i class="fa fa-file-text-o"></i></a>
                                {% else %}
                                     <a href="{{ url_for('testcase_blueprint.test_case_model',id=item.id, page=page) }}" class="btn btn-default btn-xs" title="取消设置为用例模板"><i class="fa fa-file-text"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {{ macro.pagination_widget(pagination, 'testcase_blueprint.test_case_list') }}
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
                 /**
              * @return {string}
              */
             function GetQueryString(name)
            {
                 let reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
                 let r = window.location.search.substr(1).match(reg);//search,查询？后面的参数，并匹配正则
                 if(r != null){
                     return  unescape(r[2]);
                 }else {
                     return '';
                 }
            }

            $('a[id="testcase_copy_click"]').click(function () {
             let page = GetQueryString('page');
             let copy_testcase_id = $('#testcase_copy').val();
             window.location.href = '{{ url_for("testcase_blueprint.copy_test_case")}}?testcase_id='+copy_testcase_id+'&page='+page
        });

            $('[id*="run_test_case_id_"]').click(function () {
                let run_test_case_obj = $(this);
                run_test_case_obj.attr("disabled", true);
                let run_testcase_id = run_test_case_obj.attr('id').replace('run_test_case_id_', '');
                 $.ajax({
                    url:'{{ url_for("testcase_blueprint.run_test_case")}}?testcase_id='+run_testcase_id,
                    type : "POST",
                    success:function (response) {
                        let result = JSON.parse(response)['testcase_result'];
                        $('#request_body_show').css('overflow','scroll').empty().html(result);
                    }
                });
                 run_test_case_obj.removeAttr('disabled');
            });
})

    </script>
{% endblock %}
<style>
    th,td{
        text-align: center;
    }
</style>
