{% extends 'home.html' %}
{% block title %}修改测试用例{% endblock %}
{% block content %}
            <div class="panel-body" >
                <form  action="{{ url_for('testcase_blueprint.update_test_case',id=item.id) }}?testcase_scene_id={{ testcase_scene_id }}&page={{ page }}&scene_page={{ scene_page }}" id="testcase_update_form" data-toggle="validator" method="post" enctype="multipart/form-data" class="form-horizontal">
                    {{ macro.form_group(lable_name="name",blank_name="测试用例名称(必填)",placeholder_name="必填",value=item.name) }}
                    <div class="form-group">
                        <label for="case_group" class="control-label col-md-4">测试用例分组</label>
                            <div class="col-md-4">
                                        <select name="case_group" id="case_group" class="form-control">
                                            {% for case_group in case_groups %}
                                                {% if case_group.id == case_group_id_before %}
                                                      <option selected="selected" value="{{ case_group.id }}">{{ case_group.name }}</option>
                                                {% else %}
                                                <option  value="{{ case_group.id }}">{{ case_group.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="request_headers" class="control-label col-md-4">请求头部(必填)</label>
                            <div class="col-md-4">
                                <select name="request_headers" id="request_headers" class="form-control">
                                    {% for request_headers in request_headerses %}
                                        {% if request_headers.id == request_headers_id_before %}
                                              <option selected="selected" value="{{ request_headers.id }}">{{ request_headers.name }}</option>
                                        {% else %}
                                        <option  value="{{ request_headers.id }}">{{ request_headers.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                    </div>
                    {{ macro.form_group(lable_name="method",blank_name="请求方式(必填)",value=item.method,placeholder_name="必填") }}
                    {{ macro.form_group(lable_name="url",blank_name="请求接口(必填)",value=item.url,placeholder_name="必填") }}
                    {{ macro.form_group(lable_name="regist_variable",blank_name="注册变量", value=item.regist_variable) }}
                    {{ macro.form_group(lable_name="regular",blank_name="正则匹配", value=item.regular) }}
                    {{ macro.form_group_textarea(lable_name="data",blank_name="请求报文",value=item.data,placeholder_name="可使用如：${随机4}自动在执行的时候生成随机位名称,必填") }}
                    {{ macro.form_group(lable_name="hope_result",blank_name="预期结果(必填)", value=item.hope_result,placeholder_name="必填") }}
                     <div class="form-group">
                         <div class="control-label col-md-4 col-md-offset-3">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="config_sql" value="option1"> 数据库验证
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="config_wait" value="option2"> 条件等待
                            </label>
                         </div>
                     </div>
                    <div class="form-group config_wait_content">
                        <label for="old_wait_sql" class="control-label col-md-4">前置等待查询语句</label>
                            <div class="col-md-4">
                                <textarea rows="1" cols="10" style="resize:vertical;min-height: 34px" class="form-control" id="old_wait_sql" name="old_wait_sql" placeholder="前置等待查询语句" >{{ wait.old_wait_sql }}</textarea>
                        </div>
                         <div class="col-md-4" style="height: 34px">
                            <div class="form-group col-md-12" style="padding-left: 0">
                             <select class="btn btn-default" name="old_wait_mysql" id="old_wait_mysql" style="width: 120px;height: 34px">
                                {% for mysql in mysqls %}
                                    <option  value="{{ mysql.id }}" style="width: 20px" {{"selected" if mysql.id== wait.old_wait_mysql}}>{{ mysql.name }}</option>
                                {% endfor %}
                            </select>
                                <button type="button" id="run_mysql_old_wait" class="btn btn-default btn-xs" title="执行数据库语句"><i class="fa fa-play"></i></button>
                            </div>
                        </div>
                    </div>
                    {{ macro.form_group(lable_name="old_wait",blank_name="前置等待预期结果",value=wait.old_wait, class_name="config_wait_content") }}
                    {{ macro.form_group(lable_name="old_wait_time",blank_name="前置等待超时设置",value=wait.old_wait_time, class_name="config_wait_content") }}

                    <div class="form-group config_wait_content">
                        <label for="new_wait_sql" class="control-label col-md-4">后置等待查询语句</label>
                            <div class="col-md-4">
                                <textarea rows="1" cols="10" style="resize:vertical;min-height: 34px" class="form-control" id="new_wait_sql" name="new_wait_sql" placeholder="后置等待查询语句" >{{ wait.new_wait_sql }}</textarea>
                        </div>
                         <div class="col-md-4" style="height: 34px">
                            <div class="form-group col-md-12" style="padding-left: 0">
                             <select class="btn btn-default" name="new_wait_mysql" id="new_wait_mysql" style="width: 120px;height: 34px">
                                {% for mysql in mysqls %}
                                    <option  value="{{ mysql.id }}" style="width: 20px" {{"selected" if mysql.id== wait.new_wait_mysql}}>{{ mysql.name }}</option>
                                {% endfor %}
                            </select>
                                <button type="button" id="run_mysql_new_wait" class="btn btn-default btn-xs" title="执行数据库语句"><i class="fa fa-play"></i></button>
                            </div>
                        </div>
                    </div>
                    {{ macro.form_group(lable_name="new_wait",blank_name="后置等待预期结果",value=wait.new_wait, class_name="config_wait_content") }}
                    {{ macro.form_group(lable_name="new_wait_time",blank_name="后置等待超时设置",value=wait.new_wait_time, class_name="config_wait_content") }}

                    <div class="form-group config_sql_content">
                        <label for="old_sql" class="control-label col-md-4">前置数据库查询语句</label>
                            <div class="col-md-4">
                                <textarea rows="1" cols="10" style="resize:vertical;min-height: 34px" class="form-control" id="old_sql" name="old_sql" placeholder="前置数据库查询语句" >{{ item.old_sql if item.old_sql else ""}}</textarea>
                        </div>
                         <div class="col-md-4" style="height: 34px">
                            <div class="form-group col-md-12" style="padding-left: 0">
                             <select class="btn btn-default" name="old_mysql" id="old_mysql" style="width: 120px;height: 34px">
                                {% for mysql in mysqls %}
                                    <option  value="{{ mysql.id }}" style="width: 20px">{{ mysql.name }}</option>
                                {% endfor %}
                            </select>
                                <button type="button" id="run_mysql_old" class="btn btn-default btn-xs" title="执行数据库语句"><i class="fa fa-play"></i></button>
                            </div>
                        </div>
                    </div>
                    {{ macro.form_group(lable_name="old_sql_regist_variable",blank_name="前置数据库注册变量", value=item.old_sql_regist_variable,class_name="config_sql_content") }}
                    {{ macro.form_group(lable_name="old_sql_hope_result",blank_name="前置数据库预期结果",value=item.old_sql_hope_result,class_name="config_sql_content") }}
                    <div class="form-group config_sql_content">
                        <label for="new_sql" class="control-label col-md-4">后置数据库查询语句</label>
                            <div class="col-md-4">
                                <textarea rows="1" cols="10" style="resize:vertical;min-height: 34px" class="form-control" id="new_sql" name="new_sql" placeholder="后置数据库查询语句" >{{ item.new_sql if item.new_sql else "" }}</textarea>
                        </div>
                        <div class="col-md-4" style="height: 34px">
                            <div class="form-group col-md-12" style="padding-left: 0">
                             <select class="btn btn-default" name="new_mysql" id="new_mysql" style="width: 120px;height: 34px">
                                {% for mysql in mysqls %}
                                    <option  value="{{ mysql.id }}" style="width: 20px">{{ mysql.name }}</option>
                                {% endfor %}
                            </select>
                                <button type="button" id="run_mysql_new" class="btn btn-default btn-xs" title="执行数据库语句"><i class="fa fa-play"></i></button>
                            </div>
                        </div>
                    </div>
                    {{ macro.form_group(lable_name="new_sql_regist_variable",blank_name="后置数据库注册变量", value=item.new_sql_regist_variable,class_name="config_sql_content") }}
                    {{ macro.form_group(lable_name="new_sql_hope_result",blank_name="后置数据库预期结果",value=item.new_sql_hope_result,class_name="config_sql_content") }}
                    {{ macro.submit_test(submit_id="testcase_update",test_type="button") }}
                </form>
            </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('#update_testcase_test').click(function () {
                $.ajax({
                    url : '{{ url_for("testcase_blueprint.run_test_case")}}?testcase_id={{item.id}}&testcase_update_run=1',
                    type : "POST",
                    data:$('#testcase_update_form').serialize(),
                    success : function (response) {
                        let result = JSON.parse(response)['testcase_result'];
                        $('#request_body_show').css('overflow','scroll').html(result)
                    }
                })
            })
            ;
            testcase_id = {{ item.id }};
            let validate = function () {
                    $('#testcase_update_form').validate({
                        rules: {
                           name: {
                                required: true, minlength: 2, maxlength: 50, remote: {
                                url:'/testcaseupdatevalidate/',
                                data:{"testcase_id":testcase_id}
                                }
                                },
                            url:{required:true, maxlength:500},
                            description: {maxlength: 50},
                            regist_variable:{maxlength:30,remote:{
                                url:'/variableupdatevalidate/',
                                data:{"testcase_id":testcase_id}
                                }},
                            method:{required:true, maxlength:10},
                            hope_result:{required:true,remote:'/test_case_hope_result_validate/'},
                            old_sql_regist_variable:{remote: {
                                url:'/old_sql_regist_update_variable/',
                                data:{
                                        'testcase_id': testcase_id
                                    }
                                }},
                            new_sql_regist_variable:{remote: {
                                url:'/new_sql_regist_update_variable/',
                                data:{
                                        'testcase_id': testcase_id
                                    }
                            }},
                        },
                        messages: {
                            name: {required: '不可为空', minlength: '长度最少2位', maxlength: '不可超过50位', remote: '已存在名称'},
                            url:{required:'不可为空', maxlength:'不可超过500位'},
                            description: {maxlength: '不可超过50位'},
                            regist_variable:{maxlength:'不可超过30位',remote:'变量名已存在'},
                            method:{required:'不可为空', maxlength:'不可超过10位'},
                            hope_result:{required:'不可为空',remote:'请输入正确的格式'},
                            old_sql_regist_variable:{remote: '变量名已存在'},
                            new_sql_regist_variable:{remote: '变量名已存在'},
                        }
                    })
                };
            $('input').bind('input propertychange', function() {
                validate()
                });
            $('#testcase_update').click(function () {
                $('#testcase_update_form').validate({
                        rules: {
                           name: {
                                required: true, minlength: 2, maxlength: 50, remote: {
                                url:'/testcaseupdatevalidate/',
                                data:{"testcase_id":testcase_id}
                                }
                                },
                            url:{required:true, maxlength:500},
                            description: {maxlength: 50},
                             regist_variable:{maxlength:30,remote:{
                                url:'/variableupdatevalidate/',
                                data:{"testcase_id":testcase_id}
                                }},
                            method:{required:true, maxlength:10},
                            hope_result:{required:true,remote:'/test_case_hope_result_validate/'},
                            old_sql_regist_variable:{remote: {
                                url:'/old_sql_regist_update_variable/',
                                data:{
                                        'testcase_id': testcase_id
                                    }
                                }},
                            new_sql_regist_variable:{remote: {
                                url:'/new_sql_regist_update_variable/',
                                data:{
                                        'testcase_id': testcase_id
                                    }
                            }},
                        },
                        messages: {
                           name: {required: '不可为空', minlength: '长度最少2位', maxlength: '不可超过50位', remote: '已存在名称'},
                            url:{required:'不可为空', maxlength:'不可超过500位'},
                            description: {maxlength: '不可超过50位'},
                            regist_variable:{maxlength:'不可超过30位',remote:'变量名已存在'},
                            method:{required:'不可为空', maxlength:'不可超过10位'},
                            hope_result:{required:'不可为空',remote:'请输入正确的格式'},
                            old_sql_regist_variable:{remote: '变量名已存在'},
                            new_sql_regist_variable:{remote: '变量名已存在'},
                        },
                    submitHandler: function (form) {
                        form.submit()
                    }
                    })
            });
            $('button[id*="run_mysql"]').click(function () {
        let name = $(this).attr('id').replace('run_mysql_','');
        let regist_variable = $('#' + name + '_sql_regist_variable').val();
        let mysql_id = $('#' + name + '_mysql').val();
        let sql = $('#' + name + '_sql').val();
        $.ajax({
            url:"{{ url_for('mysql_blueprint.mysql_run') }}",
            type:"POST",
            data:{
                "mysql_id": mysql_id,
                "sql": sql,
                "regist_variable":regist_variable
            },
            success: function (response) {
                let result = JSON.parse(response);
                $('#request_body_show').css('overflow','scroll').html(result)
            }
        })
    });
});

    </script>
{% endblock %}