{% extends 'home.html' %}
{% block title %}查询测试用例{% endblock %}
{% block content %}
            <div class="panel-body" >
                <form  action="" id="testcase_update_form" method="post" enctype="multipart/form-data" class="form-horizontal">
                    {{ macro.form_group(lable_name="name",blank_name="测试用例名称",value=item.name) }}
                    <div class="form-group">
                        <label for="case_group" class="control-label col-md-4">测试用例分组</label>
                            <div class="col-md-4">
                                        <select name="case_group" id="case_group" class="form-control">
                                            <option value=""></option>
                                            {% for case_group in case_groups %}
                                                {% if case_group.id == case_group_id_before %}
                                                      <option selected="selected" value="{{ case_group.id }}">{{ case_group.name }}</option>
                                                {% else %}
                                                <option  value="{{ case_group.id }}">{{ case_group.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="request_headers" class="control-label col-md-4">请求头部</label>
                            <div class="col-md-4">
                                <select name="request_headers" id="request_headers" class="form-control">
                                    {% for request_headers in request_headerses %}
                                        {% if request_headers.id == request_headers_id_before %}
                                              <option selected="selected" value="{{ request_headers.id }}">{{ request_headers.name }}</option>
                                        {% else %}
                                        <option  value="{{ request_headers.id }}">{{ request_headers.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                    </div>
                    {{ macro.form_group(lable_name="method",blank_name="请求方式",value=item.method) }}
                    {{ macro.form_group(lable_name="url",blank_name="请求接口",value=item.url) }}
                    {{ macro.form_group(lable_name="regist_variable",blank_name="注册变量", value=item.regist_variable) }}
                    {{ macro.form_group(lable_name="regular",blank_name="正则匹配", value=item.regular) }}
                    {{ macro.form_group_textarea(lable_name="data",blank_name="请求报文",value=item.data) }}
                </form>
            </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function() {
          $('input,textarea,select').each(function () {
              $(this).attr('disabled','disabled')
          })
        })
    </script>
{% endblock %}