{% extends 'home.html' %}
{% block title %}测试用例列表{% endblock %}
{% block content %}
                <div class="panel-body">
                    <table class="table table-hover">
                    <div class="col-md-offset-10">
                          <a  href="{{ url_for('testcase_blueprint.add_test_case') }}" title="添加测试用例"><button style="color: black">添加测试用例</button></a>
                    </div>
                        <tr>
                            <th>ID</th>
                            <th>测试用例分组名称</th>
                            <th>测试用例名称</th>
                            <th>请求头部</th>
                            <th>请求接口</th>
                            <th>请求报文</th>
                            <th>请求方法</th>
                            <th>注册变量</th>
                            <th>正则匹配</th>
                            <th>预期结果</th>
                            <th style="width:180px">操作</th>
                        </tr>
                        {% for item in items %}
                        <tr  id="look_test_case_{{ item.id }}">
                            <td><a href="#"><span class="badge">{{ loop.index }}</span></a></td> <!--使用循环的数字作为id -->

                            <td>
                                {% for case_group in case_groups %}
                                {% if case_group.id==item.group_id %}
                                {{ case_group.name }}{% endif %}{% endfor %}
                            </td>
                            <td> {{ item.name }}</td>
                            <td>
                            {% for request_header in request_headers %}
                                    {% if request_header.id==item.request_headers_id %}
                                    {{ request_header.name }}{% endif %}{% endfor %}
                            </td>
                            <td>{{ item.url }}</td>
                            <td>{{ item.data }}</td>
                            <td> {{ item.method }}</td>
                            <td>{{ item.regist_variable }}</td>
                            <td>{{ item.regular }}</td>
                            <td>{{ item.hope_result }}</td>
                            <td>
                                <a href="{{ url_for('testcase_blueprint.look_test_case',id=item.id) }}" class="btn btn-default btn-xs" title="查询测试用例"><i class="fa fa-search"></i></a>
                                <button type="button" id="run_test_case_id_{{ item.id }}" class="btn btn-default btn-xs" title="执行测试用例"><i class="fa fa-play"></i></button>
                                <a href="{{ url_for('testcase_blueprint.update_test_case',id=item.id) }}" class="btn btn-default btn-xs" title="编辑测试用例"><i class="fa fa-pencil"></i></a>
                                <a href="{{ url_for('testcase_blueprint.delete_test_case',id=item.id) }}" class="btn btn-default btn-xs" title="删除测试用例"><i class="fa fa-trash"></i></a>
                                {% if item.is_model ==0 %}
                                    <a href="{{ url_for('testcase_blueprint.test_case_model',id=item.id, page=page) }}" class="btn btn-default btn-xs" title="设置为用例模板"><i class="fa fa-file-text-o"></i></a>
                                {% else %}
                                     <a href="{{ url_for('testcase_blueprint.test_case_model',id=item.id, page=page) }}" class="btn btn-default btn-xs" title="取消设置为用例模板"><i class="fa fa-file-text"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {{ macro.pagination_widget(pagination, 'testcase_blueprint.test_case_list') }}
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $('[id*="run_test_case_id_"]').click(function () {
                run_test_case_obj = $(this);
                run_test_case_obj.attr("disabled", true);
                run_testcase_id = run_test_case_obj.attr('id').replace('run_test_case_id_', '');
            });
            $('tr[id*="look_test_case_"]').click(function () {
                look_test_case_id = $(this).attr('id').replace('look_test_case_','');
                if (run_testcase_id === look_test_case_id){
                    $.ajax({
                    url:'{{ url_for("testcase_blueprint.run_test_case")}}?testcase_id='+look_test_case_id,
                    type : "POST",
                    success:function (response) {
                        let result = JSON.parse(response)['testcase_result'];
                        $('#request_body_show').css('overflow','scroll').empty().html(result);
                    }
                });
                }else {
                       window.location.href = "{{ url_for('testcase_blueprint.look_test_case',id=0)}}?id=" + look_test_case_id
                }
                    run_test_case_obj.removeAttr('disabled');
                    run_testcase_id = 0
            });


})

    </script>
{% endblock %}
<style>
    th,td{
        text-align: center;
    }
</style>
