{% extends 'home.html' %}
{% block title %}测试用例分组列表{% endblock %}
{% block content %}
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>测试用例分组名称</th>
                            <th>测试用例分组备注</th>
                            <th >操作</th>
                        </tr>
                        {% for item in items %}
                        <tr>
                            <td>{{ loop.index0 }}</td>          <!--使用循环的数字作为id -->
                            <td>{{ item.name }}</td>
                            <td>{{ item.description}}</td>
                            <td>
                                <a href="{{ url_for('case_group_blueprint.case_group_search_case',id=item.id) }}" class="btn btn-default btn-xs" title="查询"><i class="fa fa-search"></i></a>
                                <a href="{{ url_for('case_group_blueprint.case_group_update',id=item.id) }}" class="btn btn-default btn-xs" title="编辑"><i class="fa fa-pencil"></i></a>
                                <a href="{{ url_for('case_group_blueprint.case_group_delete',id=item.id) }}" class="btn btn-default btn-xs" title="删除"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
{% endblock %}