{% import 'macro.html' as macro %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自动化平台</title>

{#    <meta http-equiv="pragma" content="no-cache">#}
{#    <meta http-equiv="cache-control" content="no-cache">#}
{#    <meta http-equiv="expires" content="0">#}
    <script src="https://cdn.staticfile.org/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-validate/1.15.1/jquery.validate.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:5000/static/js/collapse/jquery.js"></script>   {# 需要这个错误的地址保证下面的链接生效 #}
    <script type="text/javascript" src="http://127.0.0.1:5000/static/js/collapse/bootstrap-collapse.js"></script>
    <link href="{{url_for('static',filename='css/amazeui.min.css')}}"  rel="stylesheet">
    <link href="{{url_for('static',filename='css/admin.css')}}"  rel="stylesheet">
    <link href="{{url_for('static',filename='css/app.css')}}"  rel="stylesheet">
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}"  rel="stylesheet">
    <link rel="icon" href="{{url_for('static',filename='img/log.png')}}" type="image/x-icon">
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
{#    <script src="{{url_for('static',filename='js/echarts.common.min.js')}}"></script>#}
{#    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>#}


</head>
<body style="background-color:ghostwhite" >
<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand" style="height: 65px;">
        <a href="javascript:" class="tpl-logo">
            <img src="/static/img/logo.png"  height="80px" alt="" >
        </a>
    </div>
    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul >
            <li class="text-center"><h1 class="col-md-9" style="color: #00aff0">

                {% block packagename %}
                {% endblock %}
            </h1></li>
{#            <li class="am-hide-sm-only">#}
{#            </li>#}
{#            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>#}
{#                <a class="am-dropdown-toggle tpl-header-list-link">#}
{#                    <span class="tpl-header-list-user-nick" >#}
{#                    </span>#}
{#                </a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="" class="tpl-header-list-link">#}
{#                    <strong>退出</strong>#}
{#                </a>#}
{#            </li>#}
        </ul>
    </div>
</header>
<div class="tpl-page-container tpl-page-header-fixed" >
    <div class="tpl-left-nav tpl-left-nav-hover"  >
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu ">
                <li class="tpl-left-nav-item">
                    <a href="{{ url_for('home_blueprint.home') }}" class="nav-link ">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="#test_case" id="MytestcaseCollapse" class="nav-link tpl-left-nav-link-list" data-toggle="collapse">
                        <i class="am-icon-key"></i>
                        <span>测试用例</span>
                    </a>
                </li>
                <li>
                    <div id="test_case" class="collapse">
                        <a href="{{ url_for('testcase_blueprint.test_case_list') }}" class="list-group-item">
                        <i class="am-icon-search"></i>
                        <span>测试用例列表</span>
                        </a>
                        <a href="{{ url_for('testcase_blueprint.add_test_case') }}" class="list-group-item">
                        <i class="am-icon-plus"></i>
                        <span>添加测试用例</span>
                        </a>
                    </div>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="#case_group" id="MycasegroupCollapse" class="nav-link tpl-left-nav-link-list" data-toggle="collapse">
                        <i class="am-icon-key"></i>
                        <span>用例分组</span>
                    </a>
                </li>
                <li>
                    <div id="case_group" class="collapse">
                        <a href="{{ url_for('case_group_blueprint.case_group_list')}}" class="list-group-item">
                        <i class="am-icon-search"></i>
                        <span>用例分组列表</span>
                        </a>
                        <a href="{{ url_for('case_group_blueprint.case_group_add') }}" class="list-group-item">
                        <i class="am-icon-plus"></i>
                        <span>添加用例分组</span>
                        </a>
                    </div>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="#variable" id="MyvariableCollapse" class="nav-link tpl-left-nav-link-list" data-toggle="collapse">
                        <i class="am-icon-key"></i>
                        <span>全局变量</span>
                    </a>
                </li>
                <li>
                    <div id="variable" class="collapse">
                        <a href="{{ url_for('variables_blueprint.variable_list')}}" class="list-group-item">
                        <i class="am-icon-search"></i>
                        <span>全局变量列表</span>
                        </a>
                        <a href="{{ url_for('variables_blueprint.variable_add') }}" class="list-group-item">
                        <i class="am-icon-plus"></i>
                        <span>添加全局变量</span>
                        </a>
                    </div>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="#request_headers" id="MyrequestheadersCollapse" class="nav-link tpl-left-nav-link-list" data-toggle="collapse">
                        <i class="am-icon-key"></i>
                        <span>请求头部</span>
                    </a>
                </li>
                <li>
                    <div id="request_headers" class="collapse">
                        <a href="{{ url_for('request_headers_blueprint.request_headers_list')}}" class="list-group-item">
                        <i class="am-icon-search"></i>
                        <span>请求头部列表</span>
                        </a>
                        <a href="{{ url_for('request_headers_blueprint.request_headers_add') }}" class="list-group-item">
                        <i class="am-icon-plus"></i>
                        <span>添加请求头部</span>
                        </a>
                    </div>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="{{ url_for('test_case_request_blueprint.test_case_request') }}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-key"></i>
                        <span>测试用例执行</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{ url_for('testcase_report_blueprint.testcase_report_list') }}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-file"></i>
                        <span>测试报告</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{ url_for('system_config_blueprint.email_config') }}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-file"></i>
                        <span>系统设置</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {%block hello%}
    {%endblock%}
</div>

<div class="container">
    <div class="row" style="width: 1300px">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h1>
                    {% block title %}
                    {% endblock %}
                </h1></div>
            {%block content%}
            {%endblock%}
                <div class="panel panel-default col-lg-12" style="float: left">
                    <div  id="front_logs" class="col-lg-3 logs" style="height: 200px"></div>
                    <div  id="flask_logs" class="col-lg-9 logs" style="height: 200px"></div>
                </div>
                 <div class="panel-footer" style="clear:both"></div>
             </div>
        </div>
    </div>
</div>
{% block js %}
{%endblock%}
</body>
</html>
{% block css %}
{% endblock %}
<style>
    table{
        table-layout:fixed;
    }
    xmp{
        height: 40px
    ;
    }
    {# 最大宽度100px  居中   超过宽度后自动隐藏... #}
    table > tbody > tr > th,td,
    .dots{
        text-align: center;
        max-width: 100px;
        width:100%;
        word-break:break-all;   {# 不换行  #}
        white-space:nowrap;      {# 不换行  #}
        overflow:hidden;
        text-overflow:ellipsis;
    }
    .logs{
        overflow:hidden;
    }
    td{
    vertical-align: center;
    }
</style>
<script>
$(document).ready(function() {
    let $fullText = $('.admin-fullText');
        $('#admin-fullscreen').on('click', function() {
            $.AMUI.fullscreen.toggle();
        });
    {#  动态在td 标签上悬浮时设置title属性为当前标签的test内容 #}
    $("td",$(this)).hover(function(){
        $(this).attr('title',$(this).text());
    });
    $(".dots",$(this)).hover(function(){
        $(this).attr('title',$(this).text());
    });
    function auto_front_logs(){
            $.ajax({
                url:{{ url_for('home_blueprint.front_logs') }},
                method:'GET',
                success:function(response){
                    let front_logs = JSON.parse(response)["front_logs"];
                    $("#front_logs").html(front_logs)
                }
            })
        }
    function auto_flask_logs(){
            $.ajax({
                url:{{ url_for('home_blueprint.flask_logs') }},
                method:'GET',
                success:function(response){
                    let flask_logs = JSON.parse(response)["flask_logs"];
                    $("#flask_logs").html(flask_logs)
                }
            })
    }
        window.setTimeout(auto_front_logs, 2);
        window.setTimeout(auto_flask_logs, 1);
});

</script>
