{% import 'macro.html' as macro %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自动化平台</title>

    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <link href="{{url_for('static',filename='css/prompt-box.css')}}"  rel="stylesheet">
    <link href="{{url_for('static',filename='css/amazeui.min.css')}}"  rel="stylesheet">
    <link href="{{url_for('static',filename='css/admin.css')}}"  rel="stylesheet">
    <link href="{{url_for('static',filename='css/app.css')}}"  rel="stylesheet">
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}"  rel="stylesheet">
    <link rel="icon" href="{{url_for('static',filename='img/log.png')}}" type="image/x-icon">

    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.1.1/jquery.min.js"></script>
{#    <script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>#}
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/collapse/jquery.js"></script>
    <script type="text/javascript" src="/static/js/collapse/bootstrap-collapse.js"></script>
    <script src="https://cdn.bootcss.com/jquery-validate/1.15.1/jquery.validate.js"></script>
    <link href="{{url_for('static',filename='css/badge/badge.css')}}?v=1.0.6"  rel="stylesheet">
    <script src="{{url_for('static',filename='js/alert-style.js' , charset= "UTF-8")}}"></script>


</head>
<body style="background-color:ghostwhite;"  >
{#    <div id="prompt-center" class="prompt-center"></div>#}
<div class="tpl-page-container tpl-page-header-fixed" style="padding-top: 0">
    <div style="height: 20px;width: 100%;background-color:ghostwhite;"></div>
    <div class="row" >
            <nav class="navbar navbar-default" role="navigation"
                 style="padding: 10px 0 10px 0;margin:0 15px 0 15px">
                <div class="navbar-header"  >
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">自动化接口测试</a>

                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">反馈管理 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">问题列表</a></li>
                                <li><a href="#">详情页面</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
{#                        <li><a href="#"></a></li>#}
                        {% if session.get('username') %}
                            <li><a href=""><i class="fa fa-user"></i>{{session.get('username')}}</a></li>
                            <li><a href="{{ url_for('login_blueprint.logout') }}">退出登陆</a></li>
                        {% elif session.get('username') == None %}
                            <li><a href="{{ url_for('login_blueprint.login') }}" >请登陆</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    <div style="height: 20px;width: 100%;"></div>
    <div class="panel tpl-left-nav tpl-left-nav-hover panel-default panel-heading " style="width: 10%;background-color: rgba(248,248,248,0.42);position:fixed">
        {% if session.get('username') %}
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu ">
                {% if  session.get('username') == 'admin' %}
                    <li class="tpl-left-nav-item">
                        <a href="{{ url_for('user_blueprint.user_regist') }}" class="nav-link ">
                            <i class="am-icon-user am-icon-fw"></i>
                            <span>用户注册</span>
                        </a>
                    </li>
                {% endif %}
                <li class="tpl-left-nav-item">
                     <a href="{{ url_for('testcase_blueprint.test_case_list') }}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-book am-icon-fw"></i>
                        <span>测试用例</span>
                        </a>
                </li>
                <li class="tpl-left-nav-item">
                        <a href="{{ url_for('testcase_scene_blueprint.testcase_scene_testcase_list') }}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-briefcase am-icon-fw"></i>
                        <span>测试场景</span>
                        </a>
                </li>
                <li class="tpl-left-nav-item">
                        <a href="{{ url_for('case_group_blueprint.case_group_list')}}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-group am-icon-fw"></i>
                        <span>用例分组</span>
                        </a>
                </li>
                <li class="tpl-left-nav-item">
                        <a href="{{ url_for('variables_blueprint.variable_list')}}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-cubes am-icon-fw"></i>
                        <span>全局变量</span>
                        </a>
                </li>
                <li class="tpl-left-nav-item">
                        <a href="{{ url_for('request_headers_blueprint.request_headers_list')}}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-mortar-board am-icon-fw"></i>
                        <span>请求头部</span>
                        </a>
                </li>
                <li class="tpl-left-nav-item">
                        <a href="{{ url_for('mysql_blueprint.mysql_list')}}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-database am-icon-fw"></i>
                        <span>数据库配置</span>
                        </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{ url_for('test_case_request_blueprint.test_case_request') }}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-play am-icon-fw"></i>
                        <span>测试执行</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{ url_for('testcase_report_blueprint.testcase_report_list') }}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-table am-icon-fw"></i>
                        <span>测试报告</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{ url_for('job_blueprint.job_list') }}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-tasks am-icon-fw"></i>
                        <span>测试任务</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{ url_for('mail_blueprint.mail_list') }}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-envelope am-icon-fw"></i>
                        <span>邮件设置</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{ url_for('system_config_blueprint.email_config') }}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-cog am-icon-fw"></i>
                        <span>系统设置</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{ url_for('home_blueprint.test') }}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-cog am-icon-fw"></i>
                        <span>test</span>
                    </a>
                </li>
            </ul>
        </div>
        {% else %}
            请登录管理员账号注册用户
        {% endif %}
    </div>
    <div class="col-md-2 col-md-offset-10" id="request_body_show" style="background-color:ghostwhite;
    width: 250px;display:block;word-break: break-all;word-wrap: break-word;height: 700px;position:fixed">
    </div>
    {%block hello%}
    {%endblock%}
</div>

<div  class="col-md-8 col-md-offset-2" style="margin-top: 112px">
    <div class="container" >
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" id="get_container_height">
                <div class="panel-heading text-center" >
                    <input id="to_back" type="button" class="btn btn-default relative-position" onclick="history.go(-1);scrollTop = 0" value="返回上一步">
                    <h1>
                        {% block title %}
                        {% endblock %}
                    </h1>
                </div>
                <div id="ajax_content">
                    {%block content%}
                    {%endblock%}
                </div>
                {% if session.get('username') %}
                    <div class="panel panel-default col-lg-12" style="float: left">
                        <div  id="front_logs" class="col-lg-3 logs" style="height: 200px"></div>
                        <div  id="flask_logs" class="col-lg-9 logs" style="height: 200px"></div>
                    </div>
                     <div class="panel-footer" style="clear:both"></div>
                {% endif %}
             </div>
        </div>
    </div>
</div>
</div>
{{ macro.prompt_msg()}}
{{ macro.flash_msg() }}
{% block js %}
{%endblock%}
</body>
</html>
{% block css %}
{% endblock %}
<style>
    html,body{
        width: 100%;
        float: left;
    }
    .tpl-page-header-fixed{
        position: fixed;
        width: 100%;
        z-index: 888;
    }
    .fa{
        zoom:1.3
    }
    table.table-text-center>tbody>tr>td,table.table-text-center>tbody>tr>th{
        text-align: center;
    }
    .fa-title-size{
        zoom: 2.2;
        margin-top: 1px;
    }
    .error{
        color: red;
    }
    table{
        table-layout:fixed;
    }
    xmp{
        height: 40px
    ;
    }
    .no-padding{
        text-align: center;
        padding: 8px;
        margin: 0
    }
    .has_no_padding{
        text-align: center;
        padding: 0;
        margin: 0;
    }
    {# 最大宽度100px  居中   超过宽度后自动隐藏... #}
    table > tbody > tr > th,td,
    .dots{
        text-align: left;
        max-width: 190px;
        width:100%;
        word-break:break-all;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        {#height: 30px;#}
    }
    .form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

    .logs{
        overflow:hidden;
    }
    td{
    vertical-align: center;
    }
    th,td{
        border: solid 1px #ddd;
    }
    .chooseBtn {
            display: none;
        }

        .choose-label {
            box-shadow: #ccc 0px 0px 0px 1px;
            width: 40px;
            height: 20px;
            display: inline-block;
            border-radius: 20px;
            position: relative;
            background-color: #bdbdbd;
            overflow: hidden;
        }

        .choose-label:before {
            content: '';
            position: absolute;
            left: 0;
            width: 20px;
            height: 20px;
            display: inline-block;
            border-radius: 20px;
            background-color: #fff;
            z-index: 20;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
        }

        .chooseBtn:checked + label.choose-label:before {
            left: 20px;
        }

        .chooseBtn:checked + label.choose-label {
            background-color: #51ccee;
        }
.custom-layer{
     width: 60%;
     padding: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
     font: 16px "Microsoft YaHei UI";
     background: #fff;
     float: left;
}
.float-right{
    float: right;
}
    .prompt-center{
        position: absolute;
        z-index: 9999;
        width: 438px;
        height: 90px;
        left:0; right:0; top:50px; bottom:0;
        margin: 0 auto;
    }
    .prompt-login{
        text-align: center;
        position: absolute;
        z-index: 9999;
        left:0; right:0; top:50px; bottom:0;
        margin: 0 auto;
        width: 150px;
        height: 53px;
    }
</style>
<script>
    /**
          * @return {string}
          */
     function GetQueryString(name)
        {
             let reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
             let r = window.location.search.substr(1).match(reg);//search,查询？后面的参数，并匹配正则
             if(r != null){
                 return  unescape(r[2]);
             }else {
                 return '';
             }
        }

    function delete_scene(id) {
            let scene_page = GetQueryString('page');
            window.location.href = '{{ url_for("testcase_scene_blueprint.testcase_scene_delete")}}?testcase_scene_id=' + id + '&scene_page=' + scene_page
    }
    {#function delete_scene_() {#}
    {#    $('a[id*="testcase_scene_delete"]').click(function () {#}
    {#        let scene_page = GetQueryString('page');#}
    {#        let testcase_scene_id = $(this).attr('id').replace('testcase_scene_delete_', '');#}
    {#        window.location.href = '{{ url_for("testcase_scene_blueprint.testcase_scene_delete")}}?testcase_scene_id=' + testcase_scene_id + '&scene_page=' + scene_page#}
    {##}
    {#    });#}
$(document).ready(function() {
    href = window.location.href.split('/')[3];
    var ths = window.localStorage.getItem(href + '_not_show_ths');
    if( ths != undefined) {
        ths = JSON.parse(ths);
        for (let i = 0; i < ths.length; i++) {
            $('th:contains(' + ths[i] + ')').css('width', '0')
        }
    }

    let config_sql = window.localStorage.getItem('config_sql_content');
    let wait_sql = window.localStorage.getItem('config_wait_content');
    if(config_sql === "0"){
         $('div[class*="config_sql_content"]').each(function () {
                $(this).attr('hidden', 'hidden');
            });
    }else {
        $('div[class*="config_sql_content"]').each(function () {
            $('#config_sql').attr('checked', 'checked')
        });
    }
    if(wait_sql === "0"){
         $('div[class*="config_wait_content"]').each(function () {
                $(this).attr('hidden', 'hidden');
            });
    }else {
        $('div[class*="config_wait_content"]').each(function () {
            $('#config_wait').attr('checked', 'checked')
        });
    }
    let $fullText = $('.admin-fullText');
        $('#admin-fullscreen').on('click', function() {
            $.AMUI.fullscreen.toggle();
        });
    {#  动态在td 标签上悬浮时设置title属性为当前标签的test内容 #}

    $("td,th",$(this)).hover(function () {
       $(this).attr('title',$(this).text())
    }, function () {
        $(this).removeAttr('title')
    });
     $("td,th").on("click",function() {
            $('#request_body_show').css('overflow','scroll').text($(this).text())
    });
    $(".dots",$(this)).hover(function(){
        $(this).attr('title',$(this).text());
    });
    function auto_front_logs(){
            $.ajax({
                url:{{ url_for('home_blueprint.front_logs') }},
                method:'GET',
                success:function(response){
                    let front_log = JSON.parse(response)["front_log"];
                    $("#front_logs").html(front_log)
                }
            })
        }
    function auto_flask_logs(){
            $.ajax({
                url:{{ url_for('home_blueprint.flask_logs') }},
                method:'GET',
                success:function(response){
                    let flask_logs = JSON.parse(response)["flask_logs"];
                    $("#flask_logs").html(flask_logs)
                }
            })
    }
        window.setTimeout(auto_front_logs, 2);
        window.setTimeout(auto_flask_logs, 1);
        $('table').each(function () {
                var table = $(this).get(0);
                for (j = 0; j < table.rows[0].cells.length; j++) {
                    table.rows[0].cells[j].onmousedown = function() {
                        //记录单元格
                        tTD = this;
                        if (event.offsetX > tTD.offsetWidth - 10) {
                            tTD.mouseDown = true;
                            tTD.oldX = event.x;
                            tTD.oldWidth = tTD.offsetWidth;
                        }
                        //记录Table宽度
                        //table = tTD; while (table.tagName != ‘TABLE') table = table.parentElement;
                        //tTD.tableWidth = table.offsetWidth;
                    };
                    table.rows[0].cells[j].onmouseup = function() {
                        //结束宽度调整

                        if (tTD == undefined) tTD = this;
                        tTD.mouseDown = false;
                        tTD.style.cursor = 'default';
                    };
                    table.rows[0].cells[j].onmousemove = function() {
                        //更改鼠标样式
                        if (event.offsetX > this.offsetWidth - 10)
                            this.style.cursor = 'col-resize';
                        else
                            this.style.cursor = 'default';
                        //取出暂存的Table Cell
                        try {
                              if (tTD == undefined) tTD = this;
                        //调整宽度
                        if (tTD.mouseDown != null && tTD.mouseDown == true) {
                            tTD.style.cursor = 'default';
                            if (tTD.oldWidth + (event.x - tTD.oldX) > 0)
                                tTD.width = tTD.oldWidth + (event.x - tTD.oldX);
                            //调整列宽
                            tTD.style.width = tTD.width;
                            tTD.style.cursor = 'col-resize';
                            //调整该列中的每个Cell
                            table = tTD;
                            while (table.tagName != 'TABLE') table = table.parentElement;
                            for (j = 0; j < table.rows.length; j++) {
                                table.rows[j].cells[tTD.cellIndex].width = tTD.width;
                            }
                            //调整整个表
                            //table.width = tTD.tableWidth + (tTD.offsetWidth – tTD.oldWidth);
                            //table.style.width = table.width;
                        }
                        }catch(e){
                        }

                    };
                }
                });

    $('th').each(function () {
        try {
            if(ths.indexOf($(this).text()) !== -1){
                checked = ""}else { checked = "checked"}}catch (e) {
                checked = "checked"
        }
            $('#layer-content').append(
                "<div class=\"form-group col-md-4 no-padding\" >\n" +
                "                              <div class=\"col-md-9\">\n" +
                "                              <label for=" + $(this).text() + "class=\"dots control-label col-md-8\" style=\"font-weight: normal;text-align: left\">" + $(this).text() + "</label>\n" +
                "                              </div>\n" +
                "                              <div class=\"col-md-3\">        " +
                "                              <input   type=\"checkbox\" id=" + $(this).text() + " value=" + $(this).text() + " name=\"layer-th\" style=\"zoom:1.5;width: 20px\" " + checked + ">\n" +
                "                              </div>" +
                "                         </div>");

        });

    function alertMCLayer(layerStr, activeStr) {
         let oLayer = $(layerStr);

         //触发弹出蒙层
         $(activeStr).on('click', function () {
             oLayer.css({
                 'display': 'flex',
                 'display': '-webkit-flex',
             })
         });
         oLayer.css({
             'position': 'fixed',
             'left': '0',
             'top': '0',
             'width': '100%',
             'height': '100%',
             'background': 'rgba(0,0,0,0.7)',
             'display': 'none',
             'justify-content': 'center',
             'align-items': 'center',
             'z-index':999
         });
         $('#layer-sub').click(function () {
                 $('#cm_layer').css('display','none');
                 let show_ths = [];
                 $('input[name="layer-th"]').each(function () {
                     let text = $(this).get(0).value;
                    if($(this).attr('checked') != 'checked'){
                        show_ths.push(text);
                       $('th:contains(' + text +')').css('width','0')
                    }else {
                        $('th:contains(' + text +')').css('width','100%')
                    }
                    window.localStorage.setItem(href+'_not_show_ths', JSON.stringify(show_ths));
                 });

             })
     }
    $(function(){
        alertMCLayer('#cm_layer','#btn_alert');
      });
    $('input[id*="config"]').click(function () {
        let name = $(this).attr('id');
        if($(this).attr('checked') === 'checked') {
            $('div[class*='+name + '_content]').each(function () {
                $(this).removeAttr('hidden');
            });
            window.localStorage.setItem(name + '_content', "1")
        }else {
            $('div[class*='+name + '_content]').each(function () {
                $(this).attr('hidden', 'hidden');
            });
            window.localStorage.setItem(name + '_content', "0")
        }
    });
    // 设置提示框淡出时间
    $('.toast__close').click(function(e) {
     $('.toast').stop().fadeOut(1000);
    });
    $('.toast').fadeOut(5000);

    $('.alert').fadeOut(3000)
});

</script>
