{% macro form_group(lable_name,blank_name,id_name=lable_name,name_name=lable_name,placeholder_name=blank_name,
type_name="text",lable_class_name="control-label col-md-4",div_class_name="col-md-4",
input_name="form-control",value="",disabled="",class_name="") %}
        <div class="form-group agileinfo wthree w3-agileits agile {{ class_name }}">
            <label for="{{ lable_name }}" class="{{ lable_class_name }}">{{ blank_name if blank_name else ""}}</label>
            <div class="{{ div_class_name }}">
                <input type="{{ type_name }}" class="{{ input_name }}" id="{{ id_name }}" name="{{ name_name }}"
                       placeholder="{{ placeholder_name }} " value="{{ value if value else ""}}" {{ disabled }} >
            </div>
{#            <div class="help-block with-errors" style="color: red"></div>#}
        </div>
{% endmacro %}

{% macro form_group_textarea(
lable_name,blank_name,id_name=lable_name,name_name=lable_name,
placeholder_name=blank_name,lable_class_name="control-label col-md-4",
div_class_name="col-md-4",
textarea_class_name="form-control",textarea_style="resize: vertical;min-height: 68px",rows="8",col="10",value="") %}
 <div class="form-group">
    <label for="{{ lable_name }}" class="{{ lable_class_name }}">{{ blank_name }}</label>
        <div class="{{ div_class_name }}">
            <textarea rows="{{ rows }}" cols="{{ col }}" style="{{ textarea_style }}" class="{{ textarea_class_name }}" id="{{ id_name }}" name="{{ name_name }}" placeholder="{{ placeholder_name }}" >{{ value }}</textarea>
    </div>
</div>
{% endmacro %}


{% macro submit(submit_value="提交",reset_value="重置",test_type="hidden",
div_class="control-label col-md-6",div_style="margin-left:75px",submit_id="",test_id="",reset_id="",
submit_type="submit",reset_type="reset",test_value="测试",test_style="visibility: hidden;") %}
<div class="{{ div_class }}" style="{{ div_style }}">
        <input type="{{ submit_type }}" class="btn btn-primary" style="" value="{{ submit_value }}" id="{{ submit_id }}">
        <input type="{{ test_type }}" class="btn btn-primary" style="{{test_style}}" value={{test_value}} id={{ test_id }}>
        <input type="{{ reset_type }}" class="btn btn-default" value="{{ reset_value }}" id="{{ reset_id }}">
</div>
{% endmacro %}

{% macro submit_test(submit_name="提交", submit_id="",test_type="submit",
div_style="margin-left:108px") %}
<div class="control-label col-md-6" style="{{ div_style }}" >
    <input type="submit" class="btn btn-primary" value="{{ submit_name }}" id="{{ submit_id }}">
    <input type="{{test_type}}" class="btn btn-primary" name="test" value="测试" id="update_testcase_test">
    <input type="reset" class="btn btn-default" value="重置">
</div>
{% endmacro %}


{% macro pagination_widget(pagination, endpoint) %}
    <div class="col-md-offset-5"><ul class="pagination">
     <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
         <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.page - 1, **kwargs) }}{% else %}#{% endif %}">
          &laquo;
      </a>
    </li>
   {% for p in pagination.iter_pages() %}
       {% if p %}
        {% if p == pagination.page %}
           <li class="active"><a href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a></li>
        {% else %}
           <li><a href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a></li>
        {% endif %}
     {% endif %}
   {% endfor %}
    <li{% if not pagination.has_next %} class="disabled"{% endif %}>
         <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.page + 1, **kwargs) }}{% else %}#{% endif %}">
        &raquo;
       </a>
    </li>
 </ul></div>

{% endmacro %}


{% macro render_field(field) %}
<tr>
    <td>{{ field.label }}</td>
    <td>{{ field(**kwargs) }}</td>
    <td>
        {% if field.errors %}
            <ul>
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    </td>
    </tr>
{% endmacro %}
{% macro show_col() %}
    <button class="btn btn-default" id="btn_alert">显示</button>
        <div id="cm_layer">
            <div class="custom-layer">
                <div class="col-md-12 text-center" style="height: 80px;padding: 15px"><h2>请选择需要显示的栏目</h2></div>
                <div id="layer-content">
                </div>
                <div class="col-md-12">
                    <div style="text-align:center;padding: 15px">
                        <button id="layer-sub" type="button" class="btn btn-primary" style="margin-bottom: 0">确定</button>
                        <button id="layer-reset" type="reset" class="btn btn-primary" style="margin-bottom: 0">取消</button>
                    </div>
                </div>
            </div>
        </div>
{% endmacro %}


{% macro prompt_msg() %}
    {% if session.get('msg') %}
        <div class="toast toast--green prompt-center" {{ 'hidden' if session.get('flash_show') == '0' else '' }}>
          <div class="toast__icon">
            <svg version="1.1" class="toast__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
              <g>
                <g>
                  <path d="M504.502,75.496c-9.997-9.998-26.205-9.998-36.204,0L161.594,382.203L43.702,264.311c-9.997-9.998-26.205-9.997-36.204,0    c-9.998,9.997-9.998,26.205,0,36.203l135.994,135.992c9.994,9.997,26.214,9.99,36.204,0L504.502,111.7    C514.5,101.703,514.499,85.494,504.502,75.496z"></path>
                </g>
              </g>
            </svg>
          </div>
          <div class="toast__content">
            <p class="toast__type">成功</p>
            <p class="toast__message">{{session.get('msg')}}</p></div>
          <div class="toast__close">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.642 15.642" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 15.642 15.642">
              <path fill-rule="evenodd" d="M8.882,7.821l6.541-6.541c0.293-0.293,0.293-0.768,0-1.061  c-0.293-0.293-0.768-0.293-1.061,0L7.821,6.76L1.28,0.22c-0.293-0.293-0.768-0.293-1.061,0c-0.293,0.293-0.293,0.768,0,1.061  l6.541,6.541L0.22,14.362c-0.293,0.293-0.293,0.768,0,1.061c0.147,0.146,0.338,0.22,0.53,0.22s0.384-0.073,0.53-0.22l6.541-6.541  l6.541,6.541c0.147,0.146,0.338,0.22,0.53,0.22c0.192,0,0.384-0.073,0.53-0.22c0.293-0.293,0.293-0.768,0-1.061L8.882,7.821z"></path>
            </svg>
          </div>
        </div>
        {{ session.pop('msg') }}
    {% elif session.get('error') %}
         <div class="toast toast--red prompt-center" {{ 'hidden' if session.get('flash_show') == '0' else '' }}>
                  <div class="toast__icon">
                    <svg version="1.1" class="toast__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                      <g>
                        <g id="info">
                          <g>
                            <path d="M10,16c1.105,0,2,0.895,2,2v8c0,1.105-0.895,2-2,2H8v4h16v-4h-1.992c-1.102,0-2-0.895-2-2L20,12H8     v4H10z"></path>
                            <circle cx="16" cy="4" r="4"></circle>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </div>
                  <div class="toast__content">
                    <p class="toast__type">提示</p>
                    <p class="toast__message">{{session.get('error')}}</p></div>
                  <div class="toast__close">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.642 15.642" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 15.642 15.642">
                      <path fill-rule="evenodd" d="M8.882,7.821l6.541-6.541c0.293-0.293,0.293-0.768,0-1.061  c-0.293-0.293-0.768-0.293-1.061,0L7.821,6.76L1.28,0.22c-0.293-0.293-0.768-0.293-1.061,0c-0.293,0.293-0.293,0.768,0,1.061  l6.541,6.541L0.22,14.362c-0.293,0.293-0.293,0.768,0,1.061c0.147,0.146,0.338,0.22,0.53,0.22s0.384-0.073,0.53-0.22l6.541-6.541  l6.541,6.541c0.147,0.146,0.338,0.22,0.53,0.22c0.192,0,0.384-0.073,0.53-0.22c0.293-0.293,0.293-0.768,0-1.061L8.882,7.821z"></path>
                    </svg>
                  </div>
                </div>
        {{ session.pop('error') }}
    {% endif %}
{% endmacro %}

{% macro flash_msg() %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-warning prompt-login" {{ 'hidden' if session.get('flash_show') == '0' else '' }}>
                        {{ msg}}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
{% endmacro %}