{% extends 'home.html' %}
{% block title %}请求头部列表{% endblock %}
{% block content %}
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>请求头部名称</th>
                            <th>请求头部的值</th>
                            <th>请求头部备注</th>
                            <th>操作</th>
                        </tr>
                        {% for item in items %}
                        <tr>
                            <td>{{ loop.index0 }}</td>          <!--使用循环的数字作为id -->
                            <td>{{ item.name }}</td>
                            <td>{{ item.value }}</td>
                            <td>{{ item.description}}</td>
                            <td>
                                <a href="{{ url_for('request_headers_blueprint.request_headers_update',id=item.id) }}" class="btn btn-default btn-xs" title="编辑"><i class="fa fa-pencil"></i></a>
                                <a href="{{ url_for('request_headers_blueprint.request_headers_delete',id=item.id) }}" class="btn btn-default btn-xs" title="删除"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
{% endblock %}
<style>
    th,td{
        text-align: center;
    }
</style>