{% extends 'home.html' %}
{% block title %}修改测试用例{% endblock %}
{% block content %}
            <div class="panel-body" >
                <form  action="{{ url_for('testcase_blueprint.update_test_case',id=item.id) }}"  method="post" enctype="multipart/form-data" class="form-horizontal">
                    {{ macro.form_group(lable_name="name",blank_name="测试用例名称",value=item.name) }}
                    <div class="form-group">
                        <label for="case_group" class="control-label col-md-4">测试用例分组</label>
                            <div class="col-md-4">
                                    <select disabled="disabled" name="case_group" id="case_group" class="form-control">
                                            <option value="1">{{ case_group.name }}</option>
                                    </select>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="request_headers" class="control-label col-md-4">请求头部</label>
                            <div class="col-md-4">
                                    <select disabled="disabled" name="request_headers" id="request_headers" class="form-control">
                                            <option value="1">{{ request_headers.name }}</option>
                                    </select>
                            </div>
                    </div>
                    {{ macro.form_group(lable_name="method",blank_name="请求方式",value=item.method) }}
                    {{ macro.form_group(lable_name="url",blank_name="测试接口",value=item.url) }}
                    {{ macro.form_group_textarea(lable_name="data",blank_name="测试报文",value=item.data) }}
                    <div class="control-label col-md-6" >
                        <input type="submit" class="btn btn-primary" value="修改">
                        <input type="submit" class="btn btn-primary" name="test" value="测试">
                        <input type="reset" class="btn btn-default" value="重置">
                    </div>
                </form>
            </div>
{% endblock %}