{% extends 'home.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h1>测试用例列表</h1></div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>测试用例分组名称</th>
                            <th>测试用例名称</th>
                            <th>请求头部</th>
                            <th>接口url</th>
                            <th>测试数据</th>
                            <th>请求方法</th>
                            <th>请求结果</th>
                            <th>操作</th>
                        </tr>
                        {% for item in items %}
                        <tr>
                            <td>{{ loop.index0 }}</td> <!--使用循环的数字作为id -->
                            <td>{{ case_groups[item.group_id-1].name}}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ request_headers[item.request_headers_id-1].name}}</td>
                            <td>{{ item.url }}</td>
                            <td>{{ item.data }}</td>
                            <td>{{ item.method }}</td>
                            <td>{{ item.result }}</td>
                            <td>
                                <a href="{{ url_for('testcase_blueprint.update_test_case',id=item.id) }}" class="btn btn-default btn-xs" title="编辑"><i class="fa fa-pencil"></i></a>
                                <a href="{{ url_for('testcase_blueprint.delete_test_case',id=item.id) }}" class="btn btn-default btn-xs" title="删除"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<style>
    th,td{
        text-align: center;
    }
</style>