
<div id="leftNav">
        <ul class="nav nav-pills nav-stacked">
            <li id="fis" class="active"><a href="#">系统管理</a></li>
            <!-- 这里的active属性就是使得所在的li的背景色变为蓝色-->
            <li><a href="javascript: void(0)">nav1</a></li>
            <li><a href="javascript: void(0)">nav2</a></li>
            <li><a href="javascript: void(0)">nav3</a></li>
            <li><a href="javascript: void(0)">nav4</a></li>
            <li><a href="javascript: void(0)">nav5</a></li>
        </ul>
    </div>