<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>通过 JavaScript 创建可折叠实例</title>
    <link href="/static/css/collapse/bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="myCollapsibleExample"><a href="#demo" data-toggle="collapse">点击我扩展并且再次点击我折叠。</a></div>
<div id="demo" class="collapse">
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe.
</div>
<script type="text/javascript" src="/static/js/collapse/jquery.js"></script>
<script type="text/javascript" src="/static/js/collapse/bootstrap-collapse.js"></script>

</body>
</html>