{% extends 'home.html' %}
{% block title %}添加全局变量{% endblock %}
{% block content %}
            <div class="panel-body" >
                <form action="{{ url_for('variables_blueprint.variable_add') }}"  method="post" enctype="multipart/form-data" class="form-horizontal">
                    {{ macro.form_group(lable_name="name",blank_name="全局变量名称") }}
                    {{ macro.form_group(lable_name="value",blank_name="全局变量的值") }}
                    {{ macro.form_group(lable_name="description",blank_name="全局变量备注") }}
                    {{ macro.submit() }}
                </form>
            </div>
{% endblock %}