{% extends 'home.html' %}
{% block title %}修改全局变量{% endblock %}
{% block content %}
            <div class="panel-body" >
                <form  action="{{ url_for('variables_blueprint.variable_update',id=item.id) }}"  method="post" enctype="multipart/form-data" class="form-horizontal">
                    {{ macro.form_group(lable_name="name",blank_name="全局变量名称",value=item.name) }}
                    {{ macro.form_group(lable_name="value",blank_name="全局变量的值",value=item.value) }}
                    {{ macro.form_group(lable_name="description",blank_name="全局变量备注",value=item.description) }}
                    {{ macro.submit() }}
                </form>
            </div>
{% endblock %}